html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.thumbnail {
    min-height: 400px;
}
.prodImg {
    min-height:200px;
}
a[ng-click]{
    cursor: pointer;
}
.row.topbar {
    height: 120px;
    background-color: red;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}