<div class="container-fluid">
    <div class="row topbar">
        <div class="col-sm-4 col-md-2"><h1>Store</h1></div>
        <div class="col-sm-4 col-md-3">
            <form name="postForm" ng-submit="get(params)">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="params.regex" placeholder="Search...">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4 col-md-4 logo"><img src="Drawing.png" height="90"></div>
        <div class="col-sm-4 col-md-4 logo">
            <form ng-if="!user" name="getUserForm" ng-submit="getUser(email, password)">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="email" placeholder="Email...">
                    <input type="text" class="form-control" ng-model="password" placeholder="Password...">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </div>
                </div>
            </form>
            <div ng-if="user">
                <p>Hi, {{ user.name }}</p>
                <p><a ui-sref="cart">Cart ({{user.cart.length}})</a></p>
                 <p><a ui-sref="admin">Be an admin!</a></p>
            </div>
        </div>
    </div>
</div>

<div ng-if="!user || hideLogin" class="row">
    <div class="col-sm-4 col-md-3">
        <form name="newUserForm" ng-submit="newUser(userData)">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="userData.name" placeholder="Name...">
                <input type="text" class="form-control" ng-model="userData.email" placeholder="Email...">
                <input type="text" class="form-control" ng-model="userData.password" placeholder="Password...">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="product in products" ng-show="!product.show">
            <div class="thumbnail">
                <img class="prodImg" src="https://placehold.it/350x150">
                <div class="caption">
                    <h3>{{product.title}}</h3>
                    <p>{{product.desc}}</p>
                    <p>{{product.price | currency : '$'}}</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Details</a>
                        <a href="#" class="btn btn-default" ng-click="addCart({item:product._id,qty:1})" role="button">Add to cart</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>